body{
    background-color: rgba(0, 0, 0, 0.932);
}
.contact{
    background-color:lime;
    height: 30px;
    width: 150px;
}
.cam{
    margin-top: 50px;
    margin-left: 85px;
    margin-right: 200px;
    display: inline-block;
    float: left;
}
.per{
    display: inline-block;
    margin-top: 90px;
    float: left;
}
.CWR{
    color: aqua;
}
.im{
    color: white;
    padding-top: 10px;
    padding-bottom: 10pxs;
}
.dev{
    color: chartreuse;
}
p{
    display: inline-block;
    color: rgb(5, 177, 125);
    padding-top: 100px;
    padding-bottom: 50px;
}
